body{
    margin: 5%;
    position: relative;
    max-width: 100%;    
}

img{
    position: relative;
    max-width: 100%;
}
table{
    width: 100%;
}
#full{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
}
.left{
position: relative;
}
.centr{
position: relative;
}
.right{
position: relative;
}
.close{
    z-index: 444;
    display: inline;
    position: fixed;
    top: 0%;
    right: 0%;
    border: none; outline: none;
    background: none;

}
button{
    border: none; outline: none;
}
.costl{
    display: inline;
    position: fixed;
    z-index: 444;
    border: none; 
    outline: none;
    background: none;
    width: 15%;
    height: 100%;
    top: 0%;
    right: 0%;
}
.frame{
    z-index: 666;
}