body{
    /*background-color: rgb(164, 172, 187);
*/
    background: linear-gradient(to top, #1e1f2b, #d6d6d6);
    margin: 5%;
    position: relative;
    max-width: 100%;    
    height: 100%;

}
a{
    text-decoration: none;
}
img{
    position: relative;
}
.set{
    text-align: center;
}
.set:hover{
    transition: 0.1s;
    filter: brightness(110%);
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    cursor: pointer;
  }
.list{
    margin-top: 60px;
    width: 100%;
}
#full{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
}
.left{
position: relative;
}
.centr{
    
position: relative;
}
.right{
position: relative;
}
.close{
    z-index: 444;
    display: inline;
    position: fixed;
    top: 0%;
    right: 0%;
    border: none; outline: none;
    background: none;

}
button{
    border: 0px;
    border: none; 
    outline: none;
}
.costl{
    display: inline;
    position: fixed;
    z-index: 444;
    border: none; 
    outline: none;
    background: none;
    width: 15%;
    height: 100%;
    top: 0%;
    right: 0%;
}
#frame{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width:100% ;
    height:100%; 
    border: 0;
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(255,255,255,.9));


}
.tabFrame{
    max-height: 300px;
    margin-top: 50px;
    width: 100%;
    
    border-spacing: 0px;
}
#mainmenu{
    font-size: 30px;
    width: 10%;
    color: cadetblue;
    text-align: left;
}
#contacts{
    width: 10%;
    color: cadetblue;
    text-align: right;
    font-size: 30px;

}
#galery{
    font-size: 30px;
    width: 10%;
    color: cadetblue;
    text-align: right;
}
.gal{
    top: 10%;
    position: absolute;
    width: 100%;
}
img#slider{
width: auto;
height: auto;
max-height:   550px;
}
.up_frame{
    height: 50%;
    max-height: 500px;
}
.gal:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0), rgba(255,255,255,.9));
  }
.but{
    width: 40px;
        background: none;
}

.mirrorbut{
    width: 40px;
    float: left;
    transform: scale(-1, 1);
    background: none;
}
.costl{
    visibility: hidden;
 display: none;
 border:none;
 background: none;   
}
.img{
  display: inline;
    z-index: 555;
    height: 500px;

}
img#buttplay{
    background: none;
    width: 30px;
    height: 30px;
}
#rightabout{
    width: 20%;
}
#leftabout{
    background:none;
    opacity: 0;
    width: 20%;
    text-align: center;
}
#leftabout:hover{
    transition: 0.5s;
    opacity: 1;
  }
#center{

    width: 60%;
    text-align: center;
}
.pult{
    width: 100%;
}
.pan_about{
    height: 20px;
}
td#right{
    width: 20%;
    text-align: right;
    top: 85%;
    background: none;
}

td#left{
  background: none;
    width: 33%;
    text-align: left;
    top: 85%
    
}
td#play{
  background: none;
    width: 33%;
    text-align: center;
}
td#count{
    text-align: center;
    width: 33%;
}
.inf{
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 10%;
}
#upt{
    position: relative;
}
#info{
    transition: 1;
    text-align: center;
    opacity: 1;
    z-index: 100;
    width: 20%;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
#info:hover{
    z-index: 100;   
    opacity: 0;
    transition: 1s;
}
#leftpan{
    text-align: center;
    height: 20px;
  font-size: 20px;
  font-family: 'Kaushan Script', cursive;

}

